.app {
  background: rgb(255, 255, 255);
  height: 100%;
  flex: 1;
}
.logoList {
  flex: 1;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}
.headerContainer {
  background-color: #424242;
  padding: 5px;
}
.headerText1 {
  text-align: center;
  color: #fff;
  font-size: 24px;
}
.headerText2 {
  text-align: center;
  color: #d1be67;
}
